<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">The Personal JPhoenix</h1>
    <p class="lead blog-description">Change is NOT something you find in your pocket.</p>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

<% @posts.each do |post| %>
      <div class="blog-post">
        <h2 class="blog-post-title"><%= post.title %></h2>
        <p class="blog-post-meta"><%=  %> <a href="#"><%= post.author %></a></p>

        <%= post.content %>
      </div><!-- /.blog-post -->
<% end %>

    </div><!-- /.blog-main -->


    <%= render 'layouts/sidebar' %>


  </div><!-- /.row -->

</div><!-- /.container -->

<div class="blog-footer">
  <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>